.name {

  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 1em;

  &-main {
    gap: 0.25em;
    display: flex;
    font-size: 48px;
    font-weight: bold;
  }

  &-sub {
    font-size: 18px;
    text-align: start;
  }

}